// color
:root {
    --white: #FFFFFF;
    --black: #000000;
    --black19: #191C1A;
    --gray71: #717972;
    --grayef: #EFF0F1;
    --graydf: #DFEDE4;
    --blue15: #15D282;
    --blue01: #015AC3;
    --whitefb: #FBFDF8;
    --redb3: #B3261E;
}

$white:#FFFFFF;
$black:#000000;
$black19:#191C1A;
$gray71:#717972;
$grayef:#EFF0F1;
$graydf:#DFEDE4;
$blue15: #15D282;
$blue01: #015AC3;
$whitefb: #FBFDF8;
$redb3: #B3261E;